#gopng_boy-rotate3_outer {
height: 291px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate3 {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-rotate1_outer {
height: 291px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate1 {
background: url(http://gopng/static/images/sprite.png) -150px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 150px;
_margin-left: -150px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-flower4_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-flower4 {
background: url(http://gopng/static/images/sprite.png) -300px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 300px;
_margin-left: -300px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-flower2_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-flower2 {
background: url(http://gopng/static/images/sprite.png) -451px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 451px;
_margin-left: -451px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-walk1_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-walk1 {
background: url(http://gopng/static/images/sprite.png) -602px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 602px;
_margin-left: -602px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-flower3_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-flower3 {
background: url(http://gopng/static/images/sprite.png) -753px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 753px;
_margin-left: -753px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-flower1_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-flower1 {
background: url(http://gopng/static/images/sprite.png) -904px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 904px;
_margin-left: -904px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-walk4_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-walk4 {
background: url(http://gopng/static/images/sprite.png) -0px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-walk3_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-walk3 {
background: url(http://gopng/static/images/sprite.png) -151px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 151px;
_margin-left: -151px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-walk2_outer {
height: 291px;
width: 151px;
overflow: hidden;
}
#gopng_boy-walk2 {
background: url(http://gopng/static/images/sprite.png) -302px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 302px;
_margin-left: -302px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-rotate2_outer {
height: 290px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate2 {
background: url(http://gopng/static/images/sprite.png) -453px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 453px;
_margin-left: -453px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-rotate6_outer {
height: 290px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate6 {
background: url(http://gopng/static/images/sprite.png) -603px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 603px;
_margin-left: -603px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-rotate5_outer {
height: 290px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate5 {
background: url(http://gopng/static/images/sprite.png) -753px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 753px;
_margin-left: -753px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_boy-rotate4_outer {
height: 290px;
width: 150px;
overflow: hidden;
}
#gopng_boy-rotate4 {
background: url(http://gopng/static/images/sprite.png) -903px -291px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 903px;
_margin-left: -903px;
_padding-top: 291px;
_margin-top: -291px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
