/*背景图*/

.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top{
    width: 100%;
    height: 71.6%;
    background-image: url("http://img.mukewang.com/55addf6900019d8f14410645.png");
    background-size: 100% 100%;
}


.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url("http://img.mukewang.com/55addf800001ff2e14410118.png");
    background-size: 100% 100%;
}

.a_background_botton{
    width: 100%;
    height: 15.3%;
    background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");
    background-size: 100% 100%;
}
