/*背景图*/

.c_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiC.png");
    background-size: 100% 100%;
    position: absolute;
}

.girl {
    background-image: url("../images/girl.png");
    position: absolute;
    right: 42%;
    top: 38%;
    width: 151px;
    height: 291px;
    background-size: 100% 100%;
}
/*波浪水布局*/

.water {
    z-index: 100;
    position: absolute;
    width: 45%;
    height: 14.5%;
    left: 29%;
    top: 85%;
}

.water_1,
.water_2,
.water_3 {
    width: 100%;
    position: absolute;
    height: 30%;
    background-size: 100% 100%;
}

.water_1 {
    left: 6%;
    width: 85%;
    background-image: url("../images/water/water_2.png");
}

.water_2 {
    width: 92%;
    left: 3%;
    top: 30%;
    background-image: url("../images/water/water_1.png");
}

.water_3 {
    top: 60%;
    background-image: url("../images/water/water_3.png");
}
