/*背景图*/
.a_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    position: absolute;
}


/*云布局*/
#cloudArea {
    position : absolute;
    width    : 100%;
    height   : 100%;
}

.cloud {
    position   : absolute;
    top        : 0px;
    left       : 0px;
    width      : 100%;
    height     : 100%;
    background : url("../images/cloud.png") no-repeat;
    z-index    : 1;
    opacity    : 0.8;
}

#cloud2 {
    z-index: 2;
}



/*太阳*/

#weather {
    background: url("../images/sun.png") no-repeat;
    border-radius: 90px;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 40px;
    top: 30px;
    z-index: 2;
    -webkit-animation-name            : 'round';
    -webkit-animation-duration        : 2s;
    -webkit-animation-timing-function : ease;
    -webkit-animation-iteration-count : infinite;
}

@-webkit-keyframes 'round' {
    from {
        -webkit-transform: scale(1);
    }
    5% {
        -webkit-transform: scale(1.005)
    }
    10% {
        -webkit-transform: scale(1.01);
    }
    15% {
        -webkit-transform: scale(1.015);
    }
    20% {
        -webkit-transform: scale(1.02);
    }
    35% {
        -webkit-transform: scale(1.025);
    }
    30% {
        -webkit-transform: scale(1.03);
    }
    35% {
        -webkit-transform: scale(1.035);
    }
    40% {
        -webkit-transform: scale(1.04);
    }
    45% {
        -webkit-transform: scale(1.045);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    55% {
        -webkit-transform: scale(1.055);
    }
    60% {
        -webkit-transform: scale(1.05);
    }
    65% {
        -webkit-transform: scale(1.045);
    }
    70% {
        -webkit-transform: scale(1.04);
    }
    75% {
        -webkit-transform: scale(1.035);
    }
    80% {
        -webkit-transform: scale(1.03);
    }
    85% {
        -webkit-transform: scale(1.025);
    }
    90% {
        -webkit-transform: scale(1.02);
    }
    95% {
        -webkit-transform: scale(1.015);
    }
    100% {
        -webkit-transform: scale(1.01);
    }
    to {
        -webkit-transform: scale(1);
    }
}

#weather img {
    margin: 30px -90px;
}


/*女孩*/
.charector-wrap {
  position : absolute;
  left     : 1%;
  top      :30%;
  width: 180px;
  height: 300px;
}

.charector {
  position: absolute;
  width: 100%;
  height:100%;
  background: url(../images/charector.png) 0 0 no-repeat;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
}

.slow .charector {
    -webkit-animation-name: person-slow;
    -webkit-animation-duration: 1000ms;
}


@-webkit-keyframes person-slow {
    /* 慢 */
    
    0% {
        background-position: 0 0;
    }
    14.3% {
        background-position: -180px 0;
    }
    28.6% {
        background-position: -360px 0;
    }
    42.9% {
        background-position: -540px 0;
    }
    57.2% {
        background-position: -720px 0;
    }
    71.5% {
        background-position: -900px 0;
    }
    85.8% {
        background-position: -1080px 0;
    }
    100% {
        background-position: 0 0;
    }
}