.layerB {
    position: relative;
}
/*背景图*/

.b_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiB.png");
    background-size: 100% 100%;
    position: absolute;
}
/*商店*/

.shop {
    width    : 39.5%;
    height   : 35.5%;
    position : absolute;
    left     : 29%;
    top      : 36.5%;
}

.door {
    position: absolute;
    width: 32%;
    height: 100%;
    top: 32%;
    height: 68%;
    overflow: hidden;
    left: 58.5%;
}

.door-left,
.door-right {
    width: 50%;
    height: 100%;
    position:absolute;
}

.door-left {
    left: 0%;
    background: url(../images/door-left.png);
    background-size: 100% 100%;
}

.door-right {
    left: 50%;
    background: url(../images/door-right.png);
    background-size: 100% 100%;
}
