html {
    _background: #fff url(about:blank) fixed
}

body {
    margin: 0
}

.dw_down {
    background: url(duanwu/img/bg.png) no-repeat 1px -467px
}

#dw_holder {
    width: 100%;
    height: 240px;
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    _position: absolute;
    _top: expression(eval(document.documentElement.clientHeight + document.documentElement.scrollTop - 240) + 'px');
    z-index: 9999
}

#dw_info {
    font: bold 16px arial;
    position: absolute;
    left: 20px;
    top: -80px;
    z-index: 1
}

#dw_close {
    width: 31px;
    height: 31px;
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 235px;
    right: 10px;
    background: url(duanwu/img/bg2.png) no-repeat 0 -270px;
    outline: none
}

#dw_close:hover {
    background-position: 0 -229px
}

#dw_flash {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 0;
    bottom: 20px;
    right: 20px
}

#dw_route_1 {
    height: 80px;
    position: relative;
    z-index: 1
}

#dw_route_2 {
    height: 80px;
    background: #00f8fe;
    position: relative;
    z-index: 2
}

#dw_route_3 {
    height: 80px;
    background: #17D7F4;
    position: relative;
    z-index: 2
}

#dw_group_1,
#dw_group_2,
#dw_group_3 {
    width: 214px;
    height: 75px;
    position: absolute;
    left: 0;
    top: -40px
}

#dw_boat_1,
#dw_boat_2,
#dw_boat_3 {
    width: 214px;
    height: 70px;
    background: url(duanwu/img/bg.png) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

#dw_boat_1 {
    background-position: 0 -245px
}

#dw_boat_2 {
    background-position: 0 -320px
}

#dw_boat_3 {
    background-position: 0 -395px
}

#dw_wave_1,
#dw_wave_2,
#dw_wave_3 {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50px;
    z-index: 0
}

#dw_wave_1 {
    background: #00f8fe
}

#dw_wave_2 {
    background: #17D7F4
}

#dw_wave_3 {
    background: #0087F0
}

#dw_boatmen_1_1,
#dw_boatmen_1_2,
#dw_boatmen_1_3,
#dw_boatmen_1_4,
#dw_boatmen_2_1,
#dw_boatmen_2_2,
#dw_boatmen_2_3,
#dw_boatmen_2_4,
#dw_boatmen_3_1,
#dw_boatmen_3_2,
#dw_boatmen_3_3,
#dw_boatmen_3_4 {
    width: 110px;
    height: 76px;
    background: url(duanwu/img/bg.png) no-repeat;
    position: absolute;
}

#dw_boatmen_2_1,
#dw_boatmen_2_2,
#dw_boatmen_2_3,
#dw_boatmen_2_4 {
    background-position: 0 -76px
}

#dw_boatmen_3_1,
#dw_boatmen_3_2,
#dw_boatmen_3_3,
#dw_boatmen_3_4 {
    background-position: 0 -152px
}

#dw_boatmen_1_1,
#dw_boatmen_2_1,
#dw_boatmen_3_1 {
    left: -5px;
    top: 10px;
    z-index: 5
}

#dw_boatmen_1_2,
#dw_boatmen_2_2,
#dw_boatmen_3_2 {
    left: 30px;
    top: 10px;
    z-index: 4
}

#dw_boatmen_1_3,
#dw_boatmen_2_3,
#dw_boatmen_3_3 {
    left: 65px;
    top: 10px;
    z-index: 3
}

#dw_boatmen_1_4,
#dw_boatmen_2_4,
#dw_boatmen_3_4 {
    left: 100px;
    top: 10px;
    z-index: 2
}

.dw_water_a,
.dw_water_b {
    background: url(duanwu/img/bg.png) no-repeat;
    position: absolute;
    z-index: 1;
    display: none
}

.dw_water_a {
    width: 57px;
    height: 43px;
    left: -28px;
    top: 28px;
    background-position: -232px -240px
}

.dw_water_b {
    width: 57px;
    height: 43px;
    left: 165px;
    top: 33px;
    background-position: -292px -240px
}

.dw_wave_a,
.dw_wave_b,
.dw_wave_c {
    width: 100%;
    height: 50px;
    background: url(duanwu/img/bg2.png) repeat-x;
    position: absolute;
}

.dw_wave_a {
    height: 40px;
    top: 10px;
    z-index: 1
}

.dw_wave_b {
    top: 18px;
    z-index: 13
}

.dw_wave_c {
    top: 25px;
    z-index: 14
}

#dw_txt {
    width: 397px;
    height: 60px;
    display: inline-block;
    margin: -10px auto;
    position: relative;
    z-index: 0
}

.dw_txt_win {
    background: url(duanwu/img/bg.png) no-repeat 0 -597px
}

.dw_txt_fail {
    background: url(duanwu/img/bg.png) no-repeat 0 -535px
}

#dw_mask_holder {
    width: 720px;
    margin: 0 auto;
    position: relative;
    z-index: 9998
}

#dw_mask {
    width: 720px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    opacity: 0.5;
    *filter: alpha(opacity=50);
}
